

.statuses {
    /* padding: 10px; */
    /* display: inline; */
    /* position: fixed;
    margin-top: 4%;
    margin-left: 7%;  */
    margin-left: 8%;
}

.menu ul li {
    /* list-style-type: none; */
    /* float: left; */
    display: inline;
    margin-inline: 0 20px; /*расстояние между пунктами по ширине*/
    color: aliceblue;
}

.menu-modal ul li {
    /* list-style-type: none; */
    /* float: left; */
    display: inline;
    margin-inline: 0 20px; /*расстояние между пунктами по ширине*/
    color: #123456;
}

.vmenu ul li {
    /* list-style-type: none; */
    /* float: left; */
    // margin-left: 0%;
    // display: block;
    color: #123456;
}