$color-background-main: #fcfcfc;

$color-transparent: rgba(0, 0, 0, 0);
$color-white: #ffffff;
$color-black: #323232;
$color-green: #004e3f;
$color-green-light: #199079;
$color-green-lighter: #d0f0d7;
$color-green-bright: #1bc100;
$color-blue: #1081e0;
$color-blue-light: #dbe8f2;
$color-blue-dark: #004d75;
$color-red: #ff8383;
$color-gray: #cccccc;
$color-gray-light: #ededed;
$color-gray-dark: #828282;

$color-privilege-panel: #dde6e5;
$color-bar-background: #f2f2f2;
$color-dialog-help-button: #a5abbb;
$color-question-dialog-title: #ffa500;

$color-dropdown-item-hover: #dffdf0;
$color-dropdown-item-focused: #a1d3bd;

$color-icon-button-background: #dddddd;

$color-payment-method-cash: #e3f2ec;
$color-payment-method-cashless: #e7e3f2;
$color-payment-method-mixed: #f2f0e3;
$color-payment-method-card: #e7e3f2;
$color-payment-method-sberqr: #e3f2ec;
$color-payment-method-loyalty: #ffd8d8;
$color-payment-method-sberthanks: #e3f2ec;

$color-currency-input-label: #575757;

$color-button-additional: #8e8e8e;
